.currency {
	float: right;
	margin: 20px 25px 0 0;
	border-radius: 3px;
	border: 1px solid #fff;
	background: #d1f3fe;
	padding: 1px;
}
.currency__item {
	float: left;
	padding: 0 15px;
	line-height: 26px;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
	color: #0057c3;
}

.currency__item--current {
		color: #fff;
	text-shadow: 0 1px 0 #e34d0f;
	border-bottom: 1px solid #c05a00;
	border-left: none;
	border-top: none;
	border-right: none;
	border-radius: 3px;
	background: #ffa03b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa03b 0%, #ff853b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa03b), color-stop(100%,#ff853b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa03b 0%,#ff853b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa03b', endColorstr='#ff853b',GradientType=0 ); /* IE6-9 */
}