@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700,700italic,300italic,300&subset=latin,cyrillic);

* {
  margin: 0;
  padding: 0;
}
 
body {
    background: url(../img/main-bg.jpg) center top no-repeat;
    background-size: 100% auto;
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
h1 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 30px;
}
a {
	text-decoration: underline;
}
p {
	font-weight: 300;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 20px;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
header, section, footer, nav, article, aside {display: block;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */