/*============================
    @top-panel
==============================*/
.top-panel {
  height: 51px;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 68, 125, 0.15);
  box-shadow: 0 1px 4px 0 rgba(0, 68, 125, 0.15);
}
.top-menu {
  float: left;
  line-height: 50px;
}
.top-menu__item {
  display: inline-block;
  color: #ff5c11;
  font-size: 13px;
  margin-right: 23px;
  text-decoration: underline;
}
.top-menu__item:hover {
  text-decoration: none;
}
.phone {
  float: right;
  line-height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.order-call {
  display: block;
  float: right;
  line-height: 33px;
  border-radius: 5px;
  padding: 0 15px;
  border-bottom: 1px solid #00507f;
  margin: 7px 30px 0 20px;
  font-size: 15px;
  color: #fff;
  text-shadow: 0 1px 0 #044d95;
  font-weight: 700;
  text-decoration: none;
  background: #30bcfd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #30bcfd 0%, #0194e8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #30bcfd), color-stop(100%, #0194e8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #30bcfd 0%, #0194e8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #30bcfd 0%, #0194e8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #30bcfd 0%, #0194e8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #30bcfd 0%, #0194e8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30bcfd', endColorstr='#0194e8', GradientType=0);
  /* IE6-9 */
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.order-call:hover {
  text-decoration: none;
  background: #2cb7ea;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2cb7ea 0%, #0270d1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2cb7ea), color-stop(100%, #0270d1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2cb7ea 0%, #0270d1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2cb7ea 0%, #0270d1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2cb7ea 0%, #0270d1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2cb7ea 0%, #0270d1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2cb7ea', endColorstr='#0270d1', GradientType=0);
  /* IE6-9 */
}
/*============================
    @header
==============================*/
header {
  width: 100%;
  height: 121px;
}
.logo {
  display: block;
  float: left;
  margin: 5px 50px 0 57px;
}
.address {
  margin: 15px 0 0;
  font-size: 13px;
  color: #00234f;
  float: left;
}
.address a {
  display: inline-block;
  margin-right: 20px;
  color: #0057c3;
  text-decoration: underline;
  margin-top: 5px;
}
.address a:hover {
  text-decoration: none;
}
.header-menu {
  float: left;
  margin-top: 20px;
}
.header-menu__item {
  display: block;
  float: left;
  margin-right: 29px;
}
.header-menu__item a {
  text-decoration: underline;
  color: #0057c3;
  font-size: 17px;
}
.header-menu__item a:hover {
  text-decoration: none;
}
.main-navigation {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.main-navigation:before {
  content: '';
  display: block;
  width: 1030px;
  height: 497px;
  position: absolute;
  background: url(../img/main-navigation--base-page.png) 0 0 no-repeat;
  top: -23px;
  left: -27px;
}
.main-navigation--main-page {
  margin-bottom: 75px;
  height: 445px;
}
.main-navigation__more-info {
  float: left;
  width: 360px;
  height: 45px;
  line-height: 45px;
  padding: 0 0 0 25px;
  position: relative;
}
.main-navigation__more-info a {
  margin: 0 25px 0 0;
  color: #ff5c11;
  font-size: 17px;
}
.main-menu {
  padding: 5px 10px 5px 5px;
  clear: both;
  position: relative;
}
.main-menu__inner-shadow {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 25px 20px;
}
.main-menu__wrap {
  float: left;
  margin-bottom: 20px;
}
.main-menu__item {
  display: block;
  float: left;
  margin-right: 60px;
  line-height: 38px;
}
.main-menu__item--last {
  margin-right: 0;
}
.main-menu__item a {
  font-size: 20px;
  color: #0057c3;
}
.all-brend {
  display: block;
  float: right;
  line-height: 38px;
  border-radius: 5px;
  padding: 0 15px;
  border-bottom: 1px solid #c05a00;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 0 #e34d0f;
  font-weight: 500;
  text-decoration: none;
  background: #ffa03b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa03b), color-stop(100%, #ff853b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffa03b 0%, #ff853b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa03b', endColorstr='#ff853b', GradientType=0);
  /* IE6-9 */
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.all-brend:hover {
  background: #e88937;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e88937 0%, #e07f35 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e88937), color-stop(100%, #e07f35));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e88937 0%, #e07f35 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e88937 0%, #e07f35 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e88937 0%, #e07f35 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e88937 0%, #e07f35 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e88937', endColorstr='#e07f35', GradientType=0);
  /* IE6-9 */
}
/*============================
    @slider
==============================*/
.slider {
  height: 293px;
  width: 920px;
  position: relative;
  clear: both;
}
.slide__list {
  list-style: none;
  height: 293px;
  width: 920px;
  overflow: hidden;
}
.slide__list li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  height: 293px;
  display: none;
}
.slide__list li.active {
  display: block;
}
.slide__list li img {
  width: 100%;
}
.slider__pagination {
  position: absolute;
  top: 0;
  left: 0;
  height: 293px;
  width: 215px;
  list-style: none;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px 0 0 10px;
}
.slider__pagination li {
  position: relative;
  color: #fff;
  width: 185px;
  height: 25%;
  padding: 0 0 0 30px;
  cursor: pointer;
  z-index: 12;
}
.slider__pagination li div.caption {
  display: none;
  position: absolute;
  top: 0;
  left: -5px;
  width: 235px;
  padding: 0 0 0 195px;
  height: 100%;
  font-size: 13px;
  overflow: hidden;
  z-index: 12;
}
.slider__pagination li.active div.caption {
  display: block;
}
.slider__caption-bg {
  position: absolute;
  top: 0;
  left: -5px;
  width: 425px;
  background: #ffa03b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa03b), color-stop(100%, #ff853b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffa03b 0%, #ff853b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffa03b 0%, #ff853b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa03b', endColorstr='#ff853b', GradientType=0);
  /* IE6-9 */
  border-radius: 0 10px 10px 0;
  height: 25%;
  z-index: 11;
}
.slider__pagination li div.caption p {
  margin-top: 10px;
  padding-right: 15px;
  font-size: 13px;
}
.slider__pagination li span {
  display: block;
  padding-top: 15px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
  position: relative;
}
.slider__pagination li.active span {
  text-decoration: none;
}
/*============================
    @main-catalog
==============================*/
.main-catalog {
  width: 100%;
}
.main-catalog__title {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 30px;
  margin-left: 10px;
}
/*============================
    @grid 
==============================*/
.container {
  width: 980px;
  margin: 0 auto;
}
