/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-logo {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -35px;
  width: 107px;
  height: 116px;
}
.icon-new {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 35px;
  height: 35px;
}
