/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-delete {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -117px;
  width: 25px;
  height: 24px;
}
.icon-fav {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -280px;
  width: 35px;
  height: 35px;
}
.icon-favorite {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -66px;
  width: 22px;
  height: 19px;
}
.icon-new {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -320px;
  width: 35px;
  height: 35px;
}
.icon-checked {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -34px;
  width: 10px;
  height: 10px;
}
.icon-arrow-cart {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -22px;
  width: 58px;
  height: 7px;
}
.icon-minus {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -146px;
  width: 26px;
  height: 26px;
}
.icon-plus {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -177px;
  width: 26px;
  height: 26px;
}
.icon-checked-radio {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -49px;
  width: 12px;
  height: 12px;
}
.icon-refresh {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -90px;
  width: 19px;
  height: 22px;
}
.icon-chosen-arrow-active {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -11px;
  width: 10px;
  height: 6px;
}
.icon-chosen-arrow {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 10px;
  height: 6px;
}
.icon-fb {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -208px;
  width: 31px;
  height: 31px;
}
.icon-vk {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -244px;
  width: 31px;
  height: 31px;
}
