.btn {
	display: block;
	height: 35px;
	line-height: 35px;
	text-decoration: center;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 0 1px 0 #e34d0f;
	border-bottom: 1px solid #c05a00;
	border-left: none;
	border-top: none;
	border-right: none;
	border-radius: 2px;
	background: #ffa03b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa03b 0%, #ff853b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa03b), color-stop(100%,#ff853b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffa03b 0%,#ff853b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa03b', endColorstr='#ff853b',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	outline: none;
}
.btn:hover {
	background: #ffa942; /* Old browsers */
background: -moz-linear-gradient(top,  #ffa942 0%, #ff9142 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa942), color-stop(100%,#ff9142)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffa942 0%,#ff9142 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffa942 0%,#ff9142 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffa942 0%,#ff9142 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffa942 0%,#ff9142 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa942', endColorstr='#ff9142',GradientType=0 ); /* IE6-9 */

}

.btn--blue {
	border-color: #00507f;
	background: #30bcfd; /* Old browsers */
background: -moz-linear-gradient(top,  #30bcfd 0%, #0194e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30bcfd), color-stop(100%,#0194e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #30bcfd 0%,#0194e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcfd', endColorstr='#0194e8',GradientType=0 ); /* IE6-9 */
text-shadow: 0 1px 0 #00507f;
}

.btn--blue:hover {
	background: #33c1fd; /* Old browsers */
background: -moz-linear-gradient(top,  #33c1fd 0%, #059cea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33c1fd), color-stop(100%,#059cea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #33c1fd 0%,#059cea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #33c1fd 0%,#059cea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #33c1fd 0%,#059cea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #33c1fd 0%,#059cea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33c1fd', endColorstr='#059cea',GradientType=0 ); /* IE6-9 */


}