.cart {
	.sizefix;
}
.cart__head {
	padding: 0 25px;
	margin-bottom: 20px;
}
.cart__head-item  {
	float: left;
	color: #6585ab;
	font-size: 16px;
	font-weight: 300;
}
.cart__head-item--photo {
	width: 145px;
}
.cart__head-item--name {
	width: 385px;
}
.cart__head-item--count {
	width: 125px;
}
.cart__head-item--price {
	width: 125px;
}

.cart__item {
	background: #fff;
	margin-bottom: 20px;
	padding: 20px 25px;
	border-radius: 10px;
	-webkit-box-shadow: 0 4px 30px 0 rgba(48, 184, 255, 0.3);
	box-shadow: 0 4px 30px 0 rgba(48, 184, 255, 0.3);
	vertical-align: top;
}
.cart__thumb {
	display: table-cell;
	width: 115px;
	height: 100px;
	border: 1px solid #dfe7f0;
	text-align: center;
	vertical-align: middle;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.cart__descr {
	display: table-cell;
	padding-left: 30px;
	width: 350px;
	padding-right: 20px;
	vertical-align: top;
}
.cart__descr-name {
	color: #ff5c11;
	display: block;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 10px;

}
.cart__descr-caption {
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	margin-bottom: 10px;
}
.cart__descr-art {
	font-weight: 500;
	font-size: 13px;
	color: #000;

	i {
		font-style: normal;
		color: #7f98b7;
	}
}
.cart__count {
	width: 140px;
	display: table-cell;
	vertical-align: top;
}
.cart__price {
	display: table-cell;
	width: 125px;
	font-size: 24px;
	font-weight: 700;
	vertical-align: top;
}
.cart__oldprice {
	font-weight: 400;
	display: block;
	color: #6486ac;
	font-size: 15px;
	text-decoration: line-through;
}
.cart__total {
	width: 125px;
	display: table-cell;
}
.cart__total-summ {
	font-size: 24px;
	font-weight: 700;
}
.cart__link {
	font-size: 13px;
	color: #0074d6;
}
.cart__delete {
	display: table-cell;
	width: 25px;
}
.cart__delete-link {
	display: block;
}

.cart__promocode {
	margin: 40px 0 0 25px;
	float: left;
	width: 420px;

	h2 {
		font-size: 26px;
		font-weight: 400;
		margin-bottom: 25px;
	}
	input[type=text] {
		float: left;
		margin-right: 15px;
		width: 240px;
	}

	input[type=submit] {
		padding: 0 20px;
	}
}
.cart__total-bottom {
	float: right;
	margin: 50px 25px 0 0;
	text-align: right;

	p {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 30px;

		span {
			font-size: 26px;
			font-weight: 400;
			color: #6486ac;
		}
	}
}
.cart__total-bottom a {
	text-decoration: none;
	padding: 0 25px;
}