.search {
	float: right;
	width: 537px;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #fff;
	margin-right: 25px;
	background: rgba(255,255,255,0.3);
	position: relative;
}
.search--footer {
	position: absolute;
	margin: 0;
	right: 0;
	bottom: 5px;
}
.search__input {
	height: 36px;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	float: left;
	width: 440px;
	padding-left: 10px;
	background: none;
	font-size: 14px;
	color: #005494;
}
.search__input::-webkit-input-placeholder {
   color: #005494;
}

.search__input:-moz-placeholder { /* Firefox 18- */
   color: #005494;  
}

.search__input::-moz-placeholder {  /* Firefox 19+ */
   color: #005494;  
}

.search__input:-ms-input-placeholder {  
   color: #005494;  
}
.search__submit {
	float: right;
	width: 82px;
	height: 32px;
	display: block;
	border: none;
	margin: 2px 2px 0 0;
	border-radius: 2px;
	color: #ff5c11;
	font-size: 17px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #edf4f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#edf4f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#edf4f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#edf4f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#edf4f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#edf4f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edf4f6',GradientType=0 ); /* IE6-9 */	
	cursor: pointer;
}

.search__submit:hover {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #d7e3e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d7e3e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#d7e3e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#d7e3e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#d7e3e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#d7e3e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7e3e8',GradientType=0 ); /* IE6-9 */

}
