.product {
	.sizefix;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0 4px 30px 0 rgba(48,184,255,0.3);
	box-shadow: 0 4px 30px 0 rgba(48,184,255,0.3);
	margin-bottom: 40px;
}
.product--fast-view {
	box-shadow: none;
	margin-bottom: 0;
}
.product__title--fast-view {
	font-size: 19px;
	font-weight: 500;
	margin-bottom: 15px;
}
.product__count {
	font-weight: 300;
	font-size: 13px;
	color: #6585ab;
	margin-bottom: 10px;
}
.product__left {
	float: left;
	padding: 20px 0 20px 20px;
	width: 600px;
	position: relative; 
}
.product__right {
	float: right;
	padding: 20px 20px 20px 0;
	width: 290px;
}
.product__price {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
}
.product__oldprice {
	font-weight: 300;
	font-size: 20px;
	color: #6486ac;
	display: inline-block;
	margin-left: 10px;
	text-decoration: line-through;
}
.product__addcart {
	text-decoration: none;
	float: left;
	padding: 0 55px;
	margin-right: 15px;
	margin-bottom: 20px;
	font-size: 27px;
	line-height: 46px;
	height: 46px;
}

.product__title {
	margin-bottom: 15px;
	font-size: 16px;
	clear: both;
}
.product__item {
	margin-bottom: 20px;
}
.product__name {
	display: block;
	font-size: 13px;
	font-weight: 500;
	color: #ff5c11;
	margin-bottom: 5px;
}

.product__item-addcart {
	display: inline-block;
	line-height: 24px;
	padding: 0 13px;
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	text-shadow: 0 1px 0 #00507f;
	border-radius: 3px;
	background: #30bcfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #30bcfd 0%, #0194e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30bcfd), color-stop(100%,#0194e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #30bcfd 0%,#0194e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcfd', endColorstr='#0194e8',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #00507f;
	text-decoration: none;
	margin-right: 15px;
}

.product__item-addcart:hover {
	background: #2ca9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #2ca9e8 0%, #027ad6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ca9e8), color-stop(100%,#027ad6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2ca9e8 0%,#027ad6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2ca9e8 0%,#027ad6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2ca9e8 0%,#027ad6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2ca9e8 0%,#027ad6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ca9e8', endColorstr='#027ad6',GradientType=0 ); /* IE6-9 */
}
.product__item-price {
	font-weight: 500;
	font-size: 16px;
	display: inline-block;
	line-height: 24px;
	margin-right: 10px;
}
.product__item-favorite {
	font-size: 13px;
	color: #0074d6;
}