.checkbox {
	overflow: hidden;
	display: inline-block;
	position: relative;
}
.checkbox__inpt {
	position: absolute;
	left: -999px;
}
.checkbox__icon {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	border: 1px solid #ff5c11;
	background-color: #fff;
	margin-right: 5px;
	vertical-align: top;
	position: relative;
	top: 3px;
}
.checkout__radio-inpt {
	position: absolute;
	left: -999px;
}
