.main-navigation {
    width: 980px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
}
.main-navigation--main-page {
    margin-bottom: 75px;  
    height: 445px;
}
.main-navigation:before {
    content: '';
    display: block;
    width: 1030px;
    height: 178px;
    position: absolute;
    background: url(../img/main-navigation.png) 0 0 no-repeat;
    top: -23px;
    left: -27px;
}
.main-navigation--main-page:before {
    content: '';
    display: block;
    width: 1030px;
    height: 497px;
    position: absolute;
    background: url(../img/main-navigation--base-page.png) 0 0 no-repeat;
    top: -23px;
    left: -27px;
}
.main-navigation__more-info {
    float: left;
    width: 360px;
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 25px;
    position: relative;
}
.main-navigation__more-info  a {
    margin: 0 25px 0 0;   
    color: #ff5c11;
    font-size: 17px;
}