.top-menu {
    float: left;
    line-height: 50px;
}
.top-menu__item {
    display: inline-block;
    color: #ff5c11;
    font-size: 13px;
    padding: 0 10px;
    text-decoration: underline;
    
}
.top-menu__item--blue {
	color: #0057c3;
}
.top-menu__item:hover {
    text-decoration: none;   
}  

.top-menu__item--dropdown {
	text-decoration: none;
	color: #000;
	font-weight: 500;
	position: relative;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;

	.top-menu__item--dropdown-count {
		font-size: 15px;
		border-bottom: 1px dotted #ff5c11;
		font-weight: 700;
		display: inline-block;
		color: #ff5c11;
		line-height: 15px;
	}
}
.top-menu__item--dropdown:hover {
	background: #fff;
	-webkit-box-shadow: 0 10px 25px 0 rgba(0,68,125,0.4);
	box-shadow: 0 10px 25px 0 rgba(0,68,125,0.4);
}
.top-menu__item--dropdown:before {
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.top-menu__item--dropdown:hover {
	:before {
	content: '';
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	height: 20px;
	background: #fff; 
	width: 100%;
	z-index: 15;
}
}