.wrapper {
	background: url(../img/bottom-effects.png) center bottom no-repeat;
	background-size: 100% auto;
	padding-top: 51px;
}
.wrapper--index-page {
	background: url(../img/index-page-bottom-effects.jpg) center bottom no-repeat;
}

.title {
	font-weight: 300;
	font-size: 45px;
	width: 930px;
	margin: 0 auto 30px;
}
.description {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0 4px 30px 0 rgba(48, 184, 255, 0.3);
	box-shadow: 0 4px 30px 0 rgba(48, 184, 255, 0.3);
	padding: 20px;
	border-radius: 10px; 
	margin-bottom: 20px;
}
