.checkout {
	.sizefix;
}
.checkout__title {
	font-size: 26px;
	margin-bottom: 25px;
	margin-left: 25px;
}
.checkout__label {
	display: block;
	margin-left: 45px;
	margin-bottom: 10px;
	color: #6585ab;
	font-size: 16px;
	font-weight: 300;
}
.checkout__inpt {
	margin: 0 0 20px 25px;
	width: 445px; 
}
.checkout__inpt--phone {
	width: 200px;
}

.checkout__tab {
	font-size: 16px;
	margin: 0 0 20px 25px;
}
.checkout__radio {
	margin-right: 20px;
}
.checkout__radio-wrap {
	margin-left: 25px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.checkout__tab {
	font-size: 16px;
}
.checkout__tab-link {
	font-weight: 500;
	color: #0074d6;
	border-bottom: 1px dotted #0074d6;
	text-decoration: none;
}
.checkout__tab-link:hover {
	border-color: transparent;
}
.checkout__tab-link--current {
	color: #ff5c11;
	border-color: transparent;
}
.checkout__textarea {
	resize: none;
	margin-left: 25px;
	margin: 0 0 20px 25px;
	width: 445px; 
	height: 75px !important;
}
.checkout__title-small {
	font-size: 16px;
	margin: 0 0 10px 25px;
}