.footer-menu-block {
	display: inline-block;
	list-style: none;
	margin: 20px 0 0;
	vertical-align: top;
	margin-right: 35px;
	margin-bottom: 20px;
}
.footer-menu-block--last {
	margin-right: 0;
}
.footer-menu-block__link {
	color: #ff5c11;
	font-size: 13px;
}
.footer-menu-block__link--large {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 10px;
	display: inline-block;;
}