.all-brend {
    display: block;
    float: right;
    line-height: 38px;
    border-radius: 5px;
    padding: 0 15px;
    border-bottom: 1px solid #c05a00;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 1px 0 #e34d0f;
    font-weight: 500;
    text-decoration: none;
    background: #ffa03b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa03b 0%, #ff853b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa03b), color-stop(100%,#ff853b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa03b 0%,#ff853b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa03b', endColorstr='#ff853b',GradientType=0 ); /* IE6-9 */
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.all-brend:hover {
    background: #ffa942; /* Old browsers */
background: -moz-linear-gradient(top,  #ffa942 0%, #ff9142 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa942), color-stop(100%,#ff9142)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffa942 0%,#ff9142 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffa942 0%,#ff9142 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffa942 0%,#ff9142 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffa942 0%,#ff9142 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa942', endColorstr='#ff9142',GradientType=0 ); /* IE6-9 */
}