.slider {
    height: 293px;
    width: 920px;
    position: relative;
    clear: both;
    margin-top: 15px;
}
.slide__list {
    list-style: none;
    height: 293px;
    width: 920px;
    overflow: hidden;
}
.slide__list li {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 10px;
    height: 293px;
    display: none;
}
.slide__list li.active {
    display: block;   
}
.slide__list li img {
    width: 100%;   
}

.slider__pagination {
    position: absolute;
    top: 0;
    left: 0;

    height: 293px;
    width: 215px;
    list-style: none;
    background: rgba(0,0,0,0.6);
    border-radius: 10px 0 0 10px;
}
.slider__pagination li {
    position: relative;
    color: #fff;
    width: 185px;
    height: 25%;
    padding: 0 0 0 30px;
    cursor: pointer;
    z-index: 12;
}
.slider__pagination  li div.caption {
    display: none;  
    position: absolute;
    top: 0;
    left: -5px;
    width: 235px;
    padding: 0 0 0 195px;
    height: 100%;
    font-size: 13px;
    overflow: hidden;
    z-index: 12;
}
.slider__pagination  li.active div.caption {
    display: block;   
}
.slider__caption-bg {
    position: absolute;
    top: 0;
    left: -5px;
    width: 425px;
    background: #ffa03b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa03b 0%, #ff853b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa03b), color-stop(100%,#ff853b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa03b 0%,#ff853b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa03b 0%,#ff853b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa03b', endColorstr='#ff853b',GradientType=0 ); /* IE6-9 */
    border-radius: 0 10px 10px 0;
    height: 25%;
    z-index: 11;
}

.slider__pagination  li div.caption p {
    margin-top: 10px;
    padding-right: 15px;
    font-size: 13px;
    line-height: 17px;
}
.slider__pagination  li span {
    display: block;
    padding-top: 15px;
    padding-right: 30px;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    position: relative;
}
.slider__pagination li.active span {
    text-decoration: none;
}