/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
@import url('base.css');

/*if you just want to adjust the size of the stage and the thumbnails, you can do so by editing the following lines: */
.pika-thumbs li{width: 110px; height:85px;}
.pika-thumbs li.active {
	border: 3px solid #ffa03b;
	border-radius: 3px;
	margin: 0 0 16px 0px;
}
.pikachoose{width:680px; position:relative;}
#pikame{width: 150px;}
.pika-thumbs {margin: 0 0 0; width:120px;position: absolute;top: 10px;right: 30px; height: 100%;}
	.pika-thumbs li { margin: 2px 0 18px 2px;}

/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika{position:absolute;top:30px;right:0px;}
.jcarousel-skin-pika .jcarousel-container-vertical { width: 125px;height: 100%; overflow:hidden;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  120px; height: 100%;}
.pika-imgnav {
	display: none;
}