.footer-menu {
	padding: 17px 0;
	-webkit-box-shadow:inset 0 3px 10px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 3px 10px 0 rgba(0,0,0,0.1);
	border-top: 5px solid #fff;
}
.footer-menu__sizefix {
	.sizefix;
}