.top-panel {
    height: 51px;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,68,125,0.15);
    box-shadow: 0 1px 4px 0 rgba(0,68,125,0.15);
    position: fixed;
    top: 0;
    z-index: 100;
}
.top-panel__sizefix {
	.sizefix;
}