

.dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	padding: 10px;
	background: #fff;
	width: 425px;
	z-index: 10;

	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    border-radius: 0 0 5px 5px;
	overflow: hidden;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0,68,125,0.4);
	box-shadow: 0 10px 25px 0 rgba(0,68,125,0.4);
}
.dropdown:before {
	display: none !important;
}
.top-menu__item--dropdown:hover .dropdown {
	opacity: 1;
	visibility: visible;
}
.dropdown-name {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
	font-size: 15px;
	color: #535353;

	strong {
		color: #000;
		font-family: 'Bague-Bold';
	}
}
.dropdown-item {
	padding: 15px 0;
	border-bottom: 1px solid #dfe7f0;
}
.dropdown-item:before {
	display: none !important;
}
.dropdown-thumb {
	display: table-cell;
	width: 80px;
	height: 70px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dfe7f0;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.dropdown-title {
	display: table-cell;
	width: 220px;
	padding-left: 10px;
	line-height: 21px;
	font-size: 14px;
	color: #000;
	vertical-align: top;
	color: #ff5c11;
	padding-right: 10px;
}
.dropdown-price {
	display: table-cell;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	vertical-align: top;
	line-height: 25px;
}
.dropdown-price-old {
	font-size: 13px;
	font-weight: 500;
	color: #6e6e6e;
	text-decoration: line-through;
}
.dropdown-btn {
	height: 38px !important;
	line-height: 38px !important;
	float: right;
	padding: 0 25px;
	margin: 20px 0 0 !important;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

