.header-menu {
    float: left;
    margin-top: 20px;
}
.header-menu__item {
    display: block;
    float: left;
    margin-right: 29px;
}
.header-menu__item  a {
    text-decoration: underline;
    color: #0057c3;
    font-size: 17px;
}
.header-menu__item  a:hover {
    text-decoration: none;   
}