.radio {
	overflow: hidden;
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	top: 2px;
}
.radio__inpt {
	position: absolute;
	left: -999px;
}
.radio__icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	border: 1px solid #ff5c11;
	background-color: #fff;
	margin-right: 5px;
	vertical-align: top;
	position: relative;
	top: 8px;
}
