.reg {

}
.reg__tab {
	margin-left: 0;
}
.reg__label {
	display: block;
	margin-left: 25px;
	margin-bottom: 10px;
	color: #6585ab;
	font-size: 16px;
	font-weight: 300;

	span {
		color: #ff5c11;
		font-weight: 700;
	}
}

.reg__inpt {
	margin: 0 0 20px 0px;
	width: 445px; 
}
.reg__inpt--phone {
	width: 200px;
}
.reg__inpt--small {
	width: 200px;
}
.reg__btn {
	padding: 0 35px;
}
.reg__captcha {
	margin-bottom: 50px;
}
.reg__refresh {
	display: inline-block;
	margin: 0 20px 0 10px;
	position: relative;
	top: -9px;
}
.reg__inpt--captcha {
	display: inline-block !important;
	width: 110px;
	margin: 0 !important;
	position: relative;
	top: -13px;
}
.reg__social {
	font-size: 16px;
	color: #6585ab;
	margin-top: 35px;
	font-weight: 300;
}
.reg__social-link {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: 10px;
}