.success {
	.sizefix;
}
.success__title {
	font-size: 26px;
	margin-bottom: 20px;
	margin-left: 25px;

	span {
		font-weight: 700;
		color: #ff5c11;
	}
}
.success__col1 {
	width: 285px;
	float: left;
	margin-left: 25px;
}
.success__title-small {
	font-size: 16px;
}
.success__col2 {
	width: 345px;
	float: left;
	padding-right: 30px;
}
.success__link {
	color: #ff5c11;
}
.success__btn {
	text-decoration: none;
	margin-top: 40px;
	text-align: center;
}
.success__col3 {
	float: left;
	width: 220px;
} 