.footer-more-info {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 44px;
}
.footer-more-info:before {
	content: '';
	display: block;
	position: absolute;
	width: 2000px;
	height: 44px;
	background-color: #fff;
	left: -2000px;
	top: 0;
}
.footer-more-info:after {
	content: '';
	display: block;
	position: absolute;
	width: 36px;
	height: 45px;
	background: url(../img/footer-more-info.png) 0 0 no-repeat;
	right: -36px;
	top: -1px;
}
.footer-more-info__item {
	line-height: 44px;
	margin-right: 50px;
	color: #ff5c11;
	font-size: 17px;
	font-weight: 500;
}
.footer-more-info__item--last {
	margin-right: 20px;
}