.brand-list {
	.sizefix;
	margin-bottom: 20px;
}
.brand-list__title {
	margin: 0 0 5px 25px;
	font-size: 20px;
}
.brand-list__alphabet {
	list-style: none;
	margin-left: 15px;
}
.brand-list__alphabet-item {
	display: inline-block;
	line-height: 47px;
	padding: 0 10px;
	cursor: pointer;
	font-size: 20px;
	color: #ff5c11;
	font-weight: 700;
	text-decoration: underline;
}
.brand-list__alphabet-item:hover {
	text-decoration: none;
}
.brand-list__alphabet-item--current {
	background: #fff;
	text-decoration: none;
	color: #000;
	border-radius: 10px 10px 0 0;
	position: relative;
	z-index: 10;
}
.brand-list__content {
	-webkit-box-shadow: 0 4px 30px 0 rgba(48,184,255,0.3);
	box-shadow: 0 4px 30px 0 rgba(48,184,255,0.3);
	padding: 20px;
	border-radius: 10px;
	z-index: 9;
	position: relative;
	background: #fff;
}

.brand-list__coll {
	float: left;
	width: 185px;
	list-style: none;
}

.brand-list__item {
	line-height: 24px;
	font-size: 15px;
}
.brand-list__item-link {
	color: #0074d6;
}