.sidebar-menu {
	list-style: none;
}
.sidebar-menu__dropdown {
	list-style: none;
	margin-top: 20px;
	margin-left: 15px;
	display: none;
}
.sidebar-menu__item {
	margin-bottom: 20px;
	display: block;
}
.sidebar-menu__item--current {
	.sidebar-menu__dropdown {
		display: block;
	} 
}
.sidebar-menu__link {
	font-size: 15px;
	text-decoration: none;
	font-weight: 500;
	color: #0074d6;
	border-bottom: 1px dashed #0074d6;
}
.sidebar-menu__link:hover {
	
}
.sidebar-menu__dropdown-item {
	margin-bottom: 15px;
}
.sidebar-menu__dropdown-link {
	text-decoration: underline;
	color: #ff5c11;
	font-size: 13px;
}
.sidebar-menu__dropdown-link--current {
	
}
.sidebar-menu__dropdown-link:hover {
	text-decoration: none;
}

.sidebar-menu__triangle {
	display: inline-block;
	border: 4px solid transparent;	border-top: 4px solid #0074d6;
	margin-left: 10px;
	cursor: pointer;
}
.sidebar-menu__triangle--open {
	border: 4px solid transparent;	border-bottom: 4px solid #0074d6;
	position: relative;
	top: -2px;
}