.form-call {
	text-align: center;
	width: 300px;
	margin: 0 40px;
}
.form-call__title {
	font-size: 35px;
	font-weight: 300;
	padding-bottom: 15px;
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 20px;
}
.form-call__label {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 10px;
	display: block;
	color: #6585ab;
}
.form-call__inpy {
	width: 285px;
	margin-bottom: 20px;
}
.form-call__btn {
	padding: 0 25px;
	margin: 0 auto 20px;
}