.checkout-step {
	width: 930px;
	margin: 0 auto 15px;
}

.checkout-step__item {
	font-size: 45px;
	font-weight: 300;
	color: #93cbe3;
}
.checkout-step__item--current {
	color: #000;
}
.checkout-step__arrow {
	display: inline-block;
	margin: 0 25px;
	position: relative;
	top: -8px;
}