.checkout-cart {
	margin-left: 25px;
	border-collapse: collapse;
	width: 922px;
}
.checkout-cart__head {
	font-size: 16px;
	font-weight: 300;
	color: #6585ab;
	padding-bottom: 15px;
	border-bottom: 1px solid #dfe7f0;
	text-align: left;
}
.checkout-cart__head--photo {
	width: 125px;
}
.checkout-cart__head--name {
	width: 550px;
}
.checkout-cart__head--count {
	width: 120px;
}
.checkout-cart__item {
	padding: 20px 0;
	border-bottom: 1px solid #dfe7f0;
	vertical-align: top;
}
.checkout-cart__thumb {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 85px;
	height: 70px;

	img {
		max-height: 100%;
		max-width: 100%;
		border: 1px solid #dfe7f0;
	}
}
.checkout-cart__name {
	display: block;
	color: #ff5c11;
	font-weight: 500;
	font-size: 15px;
}
.checkout-cart__art {
	display: block;
	margin-top: 10px;
	font-size: 13px;
	font-weight: 500;
	color: #7f98b7;

	span {
		color: #000;
	}
}
.checkout-cart__item--count {
	font-size: 24px;
	font-weight: 700;
}
.checkout-cart__item--price {
	font-size: 24px;
	font-weight: 700;
}
.checkout__comment {
	float: left;
	margin-top: 35px;

	textarea {
		width: 585px;
		height: 75px;
	}
}
.checkout__bottom {

}
.checkout__btn {
	text-align: center;
}