.order-call {
    display: block;
    float: right;
    line-height: 33px;
    border-radius: 5px;
    padding: 0 15px;
    border-bottom: 1px solid #00507f;
    margin: 7px 30px 0 20px;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 1px 0 #044d95;
    font-weight: 700;
    text-decoration: none;
    
    background: #30bcfd; /* Old browsers */
    background: -moz-linear-gradient(top,  #30bcfd 0%, #0194e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30bcfd), color-stop(100%,#0194e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #30bcfd 0%,#0194e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #30bcfd 0%,#0194e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bcfd', endColorstr='#0194e8',GradientType=0 ); /* IE6-9 */
    
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.order-call:hover {
    text-decoration: none;   
    background: #33c1fd; /* Old browsers */
background: -moz-linear-gradient(top,  #33c1fd 0%, #059cea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33c1fd), color-stop(100%,#059cea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #33c1fd 0%,#059cea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #33c1fd 0%,#059cea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #33c1fd 0%,#059cea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #33c1fd 0%,#059cea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33c1fd', endColorstr='#059cea',GradientType=0 ); /* IE6-9 */

}

.order-call--footer {
    margin: 20px 0 0;
}