.address {
    margin: 15px 0 0;
    font-size: 13px;
    color: #00234f;
    float: left;
}
.address a {
    display: inline-block;
    margin-right: 20px;
    color: #0057c3;
    text-decoration: underline;
    margin-top: 5px;
}
.address a:hover {
    text-decoration: none;   
}