.product-descr {
	.sizefix;
	margin-bottom: 80px;
}

.product-descr__left {
	width: 600px;
	padding-left: 25px;
	float: left;

	img {
		border: 1px solid #dfe7f0;
	}
}
.product-descr__title {
	font-size: 26px;
	margin-bottom: 15px;
}

.product-descr__right {
	float: right;
	padding-right: 25px;
	padding-top: 10px;
	width: 290px;
}

.product-descr__title-small {
	font-size: 16px;
	margin-bottom: 15px;
}