.sort {
	margin-bottom: 25px;
}
.sort__view {
	float: right;
	padding-right: 25px;
	font-weight: 300;
	font-size: 15px;
	margin-top: 10px;
}
.sort__view-item {
	display: inline-block;
	text-decoration: none;
	color: #0074d6;
	font-size: 15px;
	margin-left: 15px;
	font-weight: 400;
	border-bottom: 1px dashed #0074d6;
}
.sort__view-item:hover {
	border-color: transparent;
}
.sort__to {
	float: left;
}
.sort__to-text {
	font-weight: 300;
	font-size: 15px;
	color: #00234f;
	margin-right: 10px;
}