.catalog-list {
	list-style: none;
	font-size: 0;
	padding-bottom: 55px;
}
.catalog-list--related {
	padding-bottom: 0px;
}
.catalog-list__item {
	display: inline-block;
	vertical-align: top;
	width: 190px;
	margin-right: 20px;
	padding: 20px;
	border-radius: 20px;
	-webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    position: relative;
}
.catalog-list__item:hover {
	-webkit-box-shadow: 0 4px 30px 0 rgba(48,184,255,0.3);
	box-shadow: 0 4px 30px 0 rgba(48,184,255,0.3);
	background: #fff;
}
.catalog-list__flag {
	position: absolute;
	top: 20px;
	left: 20px;
}
.catalog-list__flag-item {
	display: block;
	margin-right: 5px;
	float: left;
}
.catalog-list__hover-block {
	position: absolute;
	background: #fff;
	width: 190px;
	height: 80px;
	-webkit-box-shadow:inset 0 2px 7px 0 rgba(0,0,0,0.1);
	box-shadow:inset 0 2px 7px 0 rgba(0,0,0,0.1);
	border-radius: 5px;
	top: 140px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.catalog-list__item:hover .catalog-list__hover-block {
	visibility: visible;
	opacity: 1;
}
.catalog-list__preview {
	display: block;
	line-height: 38px;
	text-align: center;
	color: #ff5c11;
	text-decoration: underline;
	font-size: 17px;
	font-weight: 500;
}
.catalog-list__add-cart-wrap {
	height: 39px;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #00507f;
}
.catalog-list__add-cart {
	display: block;
	float: left;
	text-decoration: none;
	height: 39px;
	text-align: center;
	line-height: 39px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	width: 129px;
	letter-spacing: 1px;
	border-right: 1px solid #0996e5;
	border-radius: 0 0 0 5px;
	text-shadow: 0 1px 0 #044e95;
	background: #2fbbfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #2fbbfd 0%, #0195e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2fbbfd), color-stop(100%,#0195e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2fbbfd 0%,#0195e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2fbbfd 0%,#0195e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2fbbfd 0%,#0195e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2fbbfd 0%,#0195e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fbbfd', endColorstr='#0195e9',GradientType=0 ); /* IE6-9 */
}
.catalog-list__add-cart:hover, .catalog-list__add-faforite:hover {
	background: #2da3ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #2da3ed 0%, #0283d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2da3ed), color-stop(100%,#0283d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2da3ed 0%,#0283d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2da3ed 0%,#0283d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2da3ed 0%,#0283d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2da3ed 0%,#0283d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da3ed', endColorstr='#0283d3',GradientType=0 ); /* IE6-9 */
}
.catalog-list__add-faforite {
	display: block;
	width: 59px;
	float: right;
	height: 39px;
	text-align: center;
	line-height: 39px;
	border-radius: 0 0 5px 0;
	border-left: 1px solid #3dafef;
	background: #2fbbfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #2fbbfd 0%, #0195e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2fbbfd), color-stop(100%,#0195e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2fbbfd 0%,#0195e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2fbbfd 0%,#0195e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2fbbfd 0%,#0195e9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2fbbfd 0%,#0195e9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fbbfd', endColorstr='#0195e9',GradientType=0 ); /* IE6-9 */
}
.catalog-list__add-faforite-icon {
	display: inline-block;
	margin-top: 12px;
}
.catalog-list__item--last {
	margin-right: 0;
}
.catalog-list__link {
	text-decoration: none;
	display: block;
}
.catalog-list__thumb {
	display: block;
	margin-bottom: 10px;
	width: 190px;
	height: 200px;
}
.catalog-list__thumb-img {
	max-height: 100%;
	max-width: 100%;
}
.catalog-list__title {
	font-size: 15px;
	color: #ff5c11;
	display: block;
	text-decoration: underline;
	margin-left: 15px;
}
.catalog-list__title:hover {
	text-decoration: none;
}
.catalog-list__descr {
	display: block;
	font-size: 13px;
	font-weight: 300px;
	color: #0088b9;
	margin-bottom: 10px;
	margin-left: 15px;
}
.catalog-list__price {
	font-size: 17px;
	font-weight: 700;
	display: block;
	color: #000;
	margin-left: 15px;
}
.catalog-list__old-price {
	font-size: 13px;
	font-style: normal;
	color: #878787;
	font-weight: 300;
	text-decoration: line-through;
	display: inline-block;
	margin-left: 10px;
}