.count {
	height: 26px;
	width: 117px;
	border-radius: 3px;
	border: 1px solid #d0d0d0;
	padding: 1px;
	margin-bottom: 15px; 
	display: inline-block;
}
.count__minus {
	float: left;
	display: block;
}
.count__plus {
	float: right;
	display: block;
}
.count__inpt {
	height: 26px;
	border: 0;
	float: left;
	width: 65px;
	outline: none;
	line-height: 20px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #0057c3;
} 