.filter {
	
}
.filter__block {
	margin-bottom: 10px;
}
.filter__field {
	display: block;
}
.filter__title {
	display: block;
	text-decoration: none;
	margin-bottom: 15px;
}
.filter__title-name {
	display: inline-block;
	border-bottom: 1px dotted #0074d6;
	color: #0074d6;
	font-weight: 500;
	font-size: 15px;
}
.filter__title-name:hover {
	border-color: transparent;
}
.filter__triangle {
	display: inline-block;
	border: 4px solid transparent;	border-top: 4px solid #0074d6;
	position: relative;
	top: 2px;
}
.filter__triangle--close {
	border: 4px solid transparent;	border-bottom: 4px solid #0074d6;
	top:-2px;
}
.filter__hide {

}
.filter__sbmt {
	width: 100%;
}
.filter__field-text {
	font-size: 13px;
	color: #313131;
	display: inline-block;
	vertical-align: top;
}