.main-catalog {
    width: 100%;
    // background: url(../img/bottom-bg.jpg) center bottom no-repeat;
    // background-size: 100% auto;
}
.main-catalog__sizefix {
	.sizefix;
}
.main-catalog__title {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 10px;
}