.breadcrumbs {
	.sizefix;
	margin-bottom: 10px;
}
.breadcrumbs__list {
	margin: 0;
	list-style: none;
	margin-left: 25px;
}
.breadcrumbs__item {
	display: inline-block;
	font-size: 12px;
	color: #6684a9;
}
.breadcrumbs__link {
	color: #0277d8;
}