.order-history {

}
.order-histiry__item {
-webkit-box-shadow: 0 4px 30px 0 rgba(48, 184, 255, 0.3);
box-shadow: 0 4px 30px 0 rgba(48, 184, 255, 0.3);
border-radius: 15px;
margin-bottom: 20px;
}
.order-histiry__item-head {
	background: #fff;
	padding: 20px;
	border-radius: 15px 15px 0 0;
	border-bottom: 1px solid #e5f2f6;
}
.order-history__num {
	float: left;
	font-size: 16px;
	font-weight: 500;

	span {
		color: #ff5c11;
	}
}
.order-history__time {
	color: #9b9b9b !important;
	font-size: 13px;
}
.order-history__status {
	float: right;
	line-height: 35px;
	padding: 0 20px;
	border-radius: 5px;
	border: 2px solid transparent;
	font-size: 16px;
	font-weight: 500;
}
.order-history__status--orange {
	border-color: #ffa800;
	color: #ffa800;
}
.order-history__status--green {
	border-color: #20b820;
	color: #20b820;
}
.order-histiry__item-body {
	border-radius: 0 0 15px 15px;
	padding: 20px;
	background: #f6fbfc;
	border-top: 1px solid #fff;
}
.order-histiry__coll {
	width: 165px;
	float: left;
	h3 {
		font-size: 16px;
		font-weight: 400;
	}
}
.order-histiry__coll--small {
	width: 125px;
	float: left;
	font-size: 14px;
	padding-left: 10px;
}
.order-histiry__link--blue {
	color: #0074d6;
}
.order-histiry__link--red {
	color: #e22f2f;
}
.order-histiry__title-small {
	font-size: 16px;
	font-weight: 400;
}
.order-histiry__list {
	float: left;
	width: 520px;
	font-weight: 300;
	font-size: 13px;
	margin-left: 15px;
	a {
		color: #ff5c11;
	}
}
.order-histiry__btn {
	float: right;
	padding: 0 20px;
	text-decoration: none;
}