.main-menu {
    padding: 5px 10px 5px 5px;
    clear: both;
    position: relative;
}
.main-menu__inner-shadow {
    border-radius: 15px;
    -webkit-box-shadow:inset 0 3px 15px 0 rgba(0,0,0,0.10);
    box-shadow:inset 0 3px 15px 0 rgba(0,0,0,0.10);
    padding: 15px 25px 13px;
}
.main-menu__inner-shadow--main-page {
    padding-bottom: 25px;
}
.main-menu__wrap {
    float: left;   
    margin-bottom: 0px;
}
.main-menu__item {
    display: block;
    float: left;
    margin-right: 60px;
    line-height: 38px;
}
.main-menu__item--last {
    margin-right: 0;   
}
.main-menu__item a {
    font-size: 20px;
    color: #0057c3;
}