.pagination {
	float: right;
}
.pagination__item {
	float: left;
	font-size: 15px;
	font-weight: 500;
	margin-left: 5px;
	line-height: 34px;
}
.pagination__text {
	color: #ff5c11;
}
.pagination__num {
	padding: 0 12px;
	color: #0074d6;
}
.pagination__num--current {
	font-weight: 700;
	color: #fff;
	background: #089dee; /* Old browsers */
	background: -moz-linear-gradient(top,  #089dee 0%, #18d1fe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#089dee), color-stop(100%,#18d1fe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #089dee 0%,#18d1fe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #089dee 0%,#18d1fe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #089dee 0%,#18d1fe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #089dee 0%,#18d1fe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#089dee', endColorstr='#18d1fe',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
	text-shadow: 0 1px 0 #0093db;
	border-radius: 50%;
}