.base-content {
	padding: 60px 0;
	background: #fff;
}
.base-content__sizefix {
	.sizefix;
}
.base-content__left {
	float: left;
	width: 715px;

	p {
		font-size: 17px;
	    font-weight: 300;
	    line-height: 22px;
	    margin-bottom: 30px;
	}
}
.base-content__right {
	width: 200px;
	float: right;
	padding-top: 90px;
}